.photopage {
    &-photo {
        width: calc(100% - 64px);
        display: flex;
        justify-content: center;
        padding: 32px;

        img {
            height: calc(100vh - 64px);
            max-width: 100%;
        }
    }

    &-about {
        width: 80%;
        padding: 0 10%;
    }
}